In [6]:
students = {
    "Alice": 89.5,
    "Bob": 76.0,
    "Charlie": 92.3,
    "Diana": 84.7,
    "Ethan": 88.9,
    "Fiona": 95.6,
    "George": 73.4,
    "Hannah": 81.2,
}

In [7]:
for student in students:
    print(student)

Alice
Bob
Charlie
Diana
Ethan
Fiona
George
Hannah

In [8]:
for student in students.keys():
    print(student)

Alice
Bob
Charlie
Diana
Ethan
Fiona
George
Hannah

In [12]:
for score in students:
    print(student, "->", students[score])

Alice -> 89.5
Alice -> 76.0
Alice -> 92.3
Alice -> 84.7
Alice -> 88.9
Alice -> 95.6
Alice -> 73.4
Alice -> 81.2

In [13]:
for student in students:
    print(student, "->", students[student])

Alice -> 89.5
Bob -> 76.0
Charlie -> 92.3
Diana -> 84.7
Ethan -> 88.9
Fiona -> 95.6
George -> 73.4
Hannah -> 81.2

In [16]:
for name, score in students.items():
    print(name, "->", score)

Alice -> 89.5
Bob -> 76.0
Charlie -> 92.3
Diana -> 84.7
Ethan -> 88.9
Fiona -> 95.6
George -> 73.4
Hannah -> 81.2