# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [2]:
num_1 = 1

In [3]:
num_1

1

#### 2. Assign any number of type float to the variable "num_2"

In [4]:
num_2 = 2

In [5]:
2

2

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [6]:
total = num_1 + num_2

In [7]:
total

3

#### 4. Check the type of the variable "total"

In [9]:
type(total)

int

#### 5. Assign your height to the variable "height"

In [10]:
height = 6.0

In [11]:
height

6.0

#### 6. Assign your weight to the variable "mass"

In [12]:
mass = 77

In [13]:
mass

77

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [15]:
bmi = mass / (height*height)

#### 8. Print the value of the "bmi" variable

In [16]:
bmi

2.138888888888889

# String

#### 1. Create the variable "name" with your first name

In [17]:
name = "Mitchell"

In [18]:
name

'Mitchell'

#### 2. Create the variable "surname" with your surname

In [19]:
surname = 'Palmer'

In [20]:
surname

'Palmer'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [24]:
name_surname = name + " " + surname

name_surname

#### 4. Print the variable "name_surname"

In [27]:
name_surname

'Mitchell Palmer'

#### 5. Print the first letter of the variable "name_surname"

In [29]:
name_surname[0]

'M'

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [32]:
name_surname.replace(" ","")

'MitchellPalmer'

#### 7. Print your surname 10x (use variable "surname")

In [30]:
10 * surname

'PalmerPalmerPalmerPalmerPalmerPalmerPalmerPalmerPalmerPalmer'

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [33]:
greeting = "Hello my name is "+name_surname

In [34]:
greeting

'Hello my name is Mitchell Palmer'

#### 9. Print the "message" variable

In [36]:
greeting

'Hello my name is Mitchell Palmer'

## List

#### 1. Create an empty list named "empty_list"

empty_list=[]

In [37]:
empty_list=[]

In [38]:
empty_list

[]

#### 2. Create a list called "heights" with five random values

In [39]:
height = [5.9 , 5.8, 7.2, 6.3, 6.1]

In [40]:
height

[5.9, 5.8, 7.2, 6.3, 6.1]

#### 3. Print "heights"

In [41]:
print(height)

[5.9, 5.8, 7.2, 6.3, 6.1]

#### 4. Print the type of variable for "heights"

In [42]:
type(height)

list

#### 5. Print the second value from "heights"

In [43]:
height[1]

5.8

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [46]:
heights_2 = height[-3:]

In [47]:
heights_2

[7.2, 6.3, 6.1]

#### 7. Print "heights_2"

In [48]:
print(heights_2)

[7.2, 6.3, 6.1]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [50]:
list_all = height + heights_2

In [51]:
list_all

[5.9, 5.8, 7.2, 6.3, 6.1, 7.2, 6.3, 6.1]

#### 9. Print "list_all"

In [52]:
print(list_all)

[5.9, 5.8, 7.2, 6.3, 6.1, 7.2, 6.3, 6.1]

#### 10. Print the type of "list_all"

In [53]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [55]:
empty_tuple = ( )

In [56]:
empty_tuple

()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [57]:
empty_tuple[1] = 'Mitchell'

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [ ]:
A tuple is immutable. You cannot add or assign new items to a tuple

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [58]:
empty_dict = { }

In [59]:
empty_dict

{}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [65]:
heights_dict= {
    'Mitchell' : 6.0
}

In [66]:
heights_dict

{'Mitchell': 6.0}

#### 3. Assign another name and height to "heights_dict"

In [76]:
heights_dict['John'] = 6.2

In [77]:
heights_dict

{'Mitchell': 6.0, 'John': 6.2}

#### 4. Print "heights_dict"

In [78]:
print(heights_dict)

{'Mitchell': 6.0, 'John': 6.2}

#### 5. Print your height from the "heights_dict" dictionary

In [79]:
heights_dict['Mitchell']

6.0

#### 6. Print all values from the "heights_dict" dictionary

In [82]:
heights_dict.values()

dict_values([6.0, 6.2])

#### 7. Print all keys from the "heights_dict" dictionary

In [83]:
heights_dict.keys()

dict_keys(['Mitchell', 'John'])

In [5]:
animal_kingdom = [
  ['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
  ['Whale', 'Dolphin', 'ant', 'Eel'],
  ['Eagle', 'Robin']
]
for l in animal_kingdom:
  for animal_or_list in l:
    if type(animal_or_list)== str:
      print(animal_or_list)
    else:
      for b in animal_or_list:
        print(b)

Elephant
Tiger
Dog
Cat
Big Cat
Whale
Dolphin
ant
Eel
Eagle
Robin